/* Variables */
$color-one: #FBC531;
$color-two: #718093;
$color-three: #f5f6fa;
$color-light: #FFF;
$color-dark: #2F3640;

$title-font: 'Architects Daughter', cursive;
$text-font: 'Hind Guntur', sans-serif;


/* Global */
*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 16px;
	line-height: 1.7;
	font-family: $text-font;
}

section {
	padding: 40px 0;
}

.section-title {
	text-align: center;
	font-size: 40px;
	margin: 0;
}

.section-subtitle {
	text-align: center;
	color: $color-two;
	margin: 0;
	padding-bottom: 40px;
}

.wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.wrapper-item {
	padding: 0px 10px;
	max-width: 400px;
	min-height: 400px;
	text-align: center;
	margin-right: 15px;
	margin-bottom: 40px;
}

.wrapper-title {
	font-size: 20px;
}

.wrapper-subtitle {
	font-size: 15px;
	color: $color-two;
}

.wrapper-item i {
	width: 60px;
	height: 60px;
	line-height: 60px;
	color: $color-one;
	border: 3px solid $color-one;
	border-radius: 50%;
	font-size: 30px;
}

.wrapper-image {
	max-width: 400px;
	max-height: 300px;
	width: 100%;
	height: 100%;
}

.wrapper-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Header */
.page-header {
	height: 100vh;
	position: relative;
	background-image: url('https://images.pexels.com/photos/5863645/pexels-photo-5863645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
	background-position: center center;
	background-size: cover;
}

.header-title {
	color: $color-light;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	h3 {
		font-size: 24px;
		font-style: italic;
	}
	h1 {
		font-size: 48px;
	}
}

.btn {
	text-decoration: none;
	color: $color-light;
}

.btn-one {
	background: $color-one;
	color: $color-light;
	padding: 15px 30px;
}

/* Navigation */
.navigation {
	display: flex;
	align-items: center;
	padding-top: 25px;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		margin-left: auto;
	}
	li {
		display: inline-block;
		margin-right: 25px;
	}
	li a{
		text-decoration: none;
		color: $color-light;
	}
}

.navigation-brand {
	color: $color-light;
	font-size: 25px;
	font-family: $title-font;
}

/* Portfolio */
.portfolio {
	background: $color-three;
}

/* Footer */
.page-footer .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 30px 0px;
}

.footer-socials i {
	background: $color-dark;
	color: $color-light;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	margin-left: 10px;
}